#mainContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    #searchBarContainer {
        width: auto;
        display: flex;
        height: auto;
        justify-content: center;
        #inputContainer {
            width: auto;
            height: auto;
        }
        #buttonContainer {
            width: 40%;
            height: auto;
        }
    }
    #imgContainer {
        width: 100%;
        height: 80vh;
        #imgAPI {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    #weatherDescriptionContainer {
        display: flex;
    }
}